@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:ital,wght@1,900&display=swap');
.infoblack{
min-width: 50vw;
background-color: rgb(78, 78, 78);
color: #d0d0d0;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
h1{
    font-family: 'Lato', sans-serif;
    font-size: 400%;

}
p{
    
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;

}

}
