.home{
    display: flex;
flex-direction: row;
overflow: hidden;
// .text{
//     text-align: center;
//     position: absolute;
   
    
// }
button{
    margin-top: 1rem;
    align-items: center;
  background-color: rgb(173, 173, 173);
 
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: gray;
  &:hover{
   background-color: #353535a6;;
   color: white;

  }

    
}
.infos{
    display: flex;
}
}