.nav{
    
    h1{
        margin-left: 4rem;
    }
    min-height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
      margin-top: -9px;
      margin-left: -9px;
      margin-right: -9px;
      color: white;
    a{
        text-decoration: none;
        color: white
    }
    .navelements{
        margin-right: 4rem;
        ul{
            
            
            display: flex;
            list-style: none;
            
            
          
            justify-content: center;
            li{
                
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 2rem;
                height: 3rem;
                width: 5rem;
                border-radius: 10%;
                transition-duration: 1s;
                border: white;
               
    
                
                // :hover{
                //     background-color:black;
                //     a{
                //         color: white;
                //     }
                    
                // }
            }
    
            
        }
    }
    
}